.TablageneralProyects{
    width: 80%;
    margin-left: 1.0rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem; 
    transition: all 500ms;
    
}

.MostrarTabla{
    animation: mostrarTabla 500ms linear forwards  ;
}

@keyframes mostrarTabla{
    from{
        transform: translateX(1000px);
    }

    to{
        transform: translateX(0px);
          
    }
}

.WidthTablaLarge{
    width:85% !important;
    margin-left: 0% !important;
}

.WidthTablaSmall{
    /* width:70% !important; */
    margin-left: 14% !important;
}



.ant-tooltip-inner{
    display: none;
}


