.ContainerTable{
    width: max-content;
    height: min-content;
    background-color: white;
    animation: showTable 600ms linear forwards;
}

@keyframes showTable {
    from{
        z-index: 1;
        transform:translateY(-50px);
        opacity: 0;
    }

    to{
        transform:translateY(0px);
        opacity:1;
    }
}


.TablaProyectos>div>div{

    /* height:max-content; */

}

.PopoverProyects {
    width: max-content;
    padding: 0.6rem;
    display:flex;
    flex-direction: column;
}

.PopoverProyects .TitlePopover{
    font-size: 1.2rem;
    color: var(--bg-black-4);
}
.PopoverProyects .BodyPopover{
    display: flex;
    margin-top: 1rem;
    justify-content: end;

}



.PopoverProyects .BodyPopover .ButtonPop.yes{
    background-color: var(--bg-succes-1);
    color: var(--bg-white-2);
}
.PopoverProyects .BodyPopover .ButtonPop.yes:hover{
    color: white;
}

.HeaderTable{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid var(--bg-blue-2);
}