
.Bienvenida{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Bienvenida>span{
    font-size: 2.4rem;
    color: var(--bs-gray-100);
    text-shadow: 1px 1px 1px  var(--bs-gray-400);
    transition: all 500ms;
}

.Bienvenida>span:hover{
    cursor: none;
    color: var(--bs-gray-600);
}