
.FormularioLogout{
    background-color: var(--bs-primary);
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.ElementsFormLogout{
    width: 80%;
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.ElementsFormLogout>label{
    margin-left: 2.0erm;
    margin-bottom: 1.3rem;
    font-size: 1.5rem;
    color: var(--bs-white);
    font-weight: 500;
    transition: all 500ms;
}

.ElementsFormLogout>label:hover{
    cursor: none;
    color: var(--bs-gray-600)
}

.ElementsFormLogout>input{
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 7px;

}

.ElementsFormLogout>input:focus-visible{
    outline: none !important;
}

.EnvioLogout{
    display: flex;
    width:100%;
    justify-content: center;
    margin: 1rem;
}

.EnvioLogout>Input{
    padding: 0.7rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    
    background-color: var(--bs-cyan);
    border: 1px solid var(--bs-white) !important;
    border-radius: 5px ;
    transition: all 700ms;
    color: var(--bs-gray-900);
    font-size: 1.6rem;
    box-shadow: 1.5px 1.5px 4px var(--bs-white);
    
}

.EnvioLogout>input:hover{
    cursor: pointer;
    background-color: var(--bs-teal);
    color: var(--azul-profundo);
    box-shadow:none;
}

.EnvioLogout>input:active{
    background-color: var(--azul-profundo);
    color:var(--bs-white) ;
}