
.FormularioLogout{
    background-color: var(--bs-primary);
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.ElementsFormLogout{
    width: 85%;
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
    display: grid;
    grid-template-areas:
        "labEmail labEmail labEmail"
        "inpEmail inpEmail errorE"
        "labPassw labPassw labPassw"
        "inpPassw inpPassw errorP"
        /* ""
        ""
        ""
        ""*/ ; 
}

.ElementsFormLogout>label{
    grid-area: labEmail;
    margin-left: 2.0erm;
    margin-bottom: 1.3rem;
    font-size: 1.5rem;
    color: var(--bs-white);
    font-weight: 500;
    transition: all 500ms;
}

.ElementsFormLogout>label:hover{
    cursor: none;
    color: var(--bs-gray-600)
}

.ElementsFormLogout>input{
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 7px;

}

.ElementsFormLogout>input:focus-visible{
    outline: none !important;
}

.InpEmailOut{
    grid-area: inpEmail;
}

.InpPassOut{
    grid-area: inpPassw;
}


.IconErrorEmOut{
    grid-area:errorE ;
    margin-left: 1.0rem;
    margin-top: 0.2rem;
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px ;
    background-color:white;
    box-shadow: 1px 1px 3px red;
    
}
.IconErrorEmOut>svg{
    width: 20px;
    height: 20px;
    fill: var(--bs-danger) !important;
    transition: all 500ms;
}

.IconErrorEmOut>svg:hover{
    cursor: pointer;
    fill: var(--bs-dark) !important;
}



.IconErrorPsOut{
    grid-area:errorP ;
    margin-left: 1.0rem;
    margin-bottom: 0.3rem;
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px ;
    background-color:white;
    box-shadow: 1px 1px 3px red;
    
}
.IconErrorPsOut>svg{
    width: 20px;
    height: 20px;
    fill: var(--bs-danger) !important;
    transition: all 500ms;
}

.IconErrorPsOut>svg:hover{
    cursor: pointer;
    fill: var(--bs-dark) !important;
}


.EnvioLogout{
    display: flex;
    width:100%;
    justify-content: center;
    margin: 1rem;
}

.EnvioLogout>Input{
    padding: 0.7rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    
    background-color: var(--bs-cyan);
    border: 1px solid var(--bs-white) !important;
    border-radius: 5px ;
    transition: all 700ms;
    color: var(--bs-gray-900);
    font-size: 1.6rem;
    box-shadow: 1.5px 1.5px 4px var(--bs-white);
    
}

.EnvioLogout>input:hover{
    cursor: pointer;
    background-color: var(--bs-teal);
    color: var(--azul-profundo);
    box-shadow:none;
}

.EnvioLogout>input:active{
    background-color: var(--azul-profundo);
    color:var(--bs-white) ;
}