.ModalFormulario {
    display: flex;
    justify-content: center;
    max-height: 100vh;
    
}

.ModalFormulario .ant-modal-content {
    padding: 0.1rem;
    height: min-content;
    width: max-content;
    
}

.ModalFormulario .ant-modal-content>.ant-modal-close {
    display: none;
}