

.Sidebar{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 210px;
    height: 95%;
    border: 1px solid white;
    box-shadow: 2px 2px 3px var(--bs-gray-500);
    border-radius: 5px 10px 10px 0px;
    background-color: var(--azul-profundo);
    left: -300px;
    padding-top: 1.0rem;
    

}

.ShowAside{
    animation: mostrarAside 1s linear forwards;
}

@keyframes mostrarAside{
    from{
        transform: translateX(0px)
    }
    to{
        transform: translateX(300px);
    }
}

.CerrarAside{
    animation: cerrarAside 2s linear forwards;
}

@keyframes cerrarAside{
    from{
        transform: translateX(300px)
    }
    to{
        transform: translateX(-100px);
    }
} 

.ElementAside{
    margin: 1.0rem;
    font-size: 1.5rem;
    color: white;
    text-indent: 1.0rem;
    border:1px solid var(--bs-indigo);
    border-radius: 0.5rem;
    padding: 1.0rem;
    transition: all 500ms;
}

.ElementAside:hover{
    cursor: pointer;
    background-color: var(--bs-indigo);
    color: var(--bs-gray-100);
}

.ElementActive{
    background-color: var(--bs-indigo);
    color: var(--bs-gray-100);
}

.ElementActive:hvoer{
    cursor: pointer;
}