

.Sidebar{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 210px;
    height: 95%;
    border: 1px solid white;
    
    border-radius: 5px 10px 10px 0px;
    background-color: var(--bg-blue-7);
    left: -300px;
    padding-top: 1.0rem;
    

}

.ShowAside{
    animation: mostrarAside 1s linear forwards;
}

@keyframes mostrarAside{
    from{
        transform: translateX(0px)
    }
    to{
        transform: translateX(300px);
    }
}

.CerrarAside{
    animation: cerrarAside 2s linear forwards;
}

@keyframes cerrarAside{
    from{
        transform: translateX(300px)
    }
    to{
        transform: translateX(-100px);
    }
} 

/* estilos al collapse general  */
.FuncionCollapse{
    text-transform: capitalize;
}

/* estilos a los items visibles */
.ElementCollapse{
    background-color: red ;
}

/* estilos a la caja desplegable */
.ElementCollapse  div:nth-child(2){
 background-color: yellow;
}

/* estilo al interior de la caja desplegable */
.ElementCollapse  div:nth-child(2)>div{
    background-color: #69b1ff ;
    padding-bottom: 10px;
    padding-top: 0px !important;
}